* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

header {
    background-color: dodgerblue;
}

header > h1 {
    text-align: center;
    font-size: 3vw;
}

ul {
    display: flex;
    list-style-type: none;
}

ul > li {
    color: white;
    font-size: 1.2vw;
    padding: 20px;
}

li:hover {
    background-color: skyblue;
    cursor: pointer;
}

article {
    width: 35vw;
    margin: auto;
}