@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

html, body {
    background-color: lightgray;
}

header {
    background-color: gray;
}

header > h1 {
    text-align: center;
    padding: 20px;
}

.material-symbols-outlined {
    background-color: rgb(82, 82, 82);
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

.material-symbols-outlined:hover {
    color: black;
    background-color: lightgrey;
}

menu {
    display: none;
}

menu > ul {
    list-style-type: none;
}

menu > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: darkgrey;
    color: white;
    text-align: center;
    border-top: 2px solid gray;
}

menu > ul > li > a:hover {
    background-color: lightgray;
}

main {
    width: 90vw;
    background-color: white;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
}

article > h1 {
    margin-bottom: 20px;
}

article > p {
    margin-bottom: 20px;
    text-align: justify;
    text-indent: 30px;
}

article > h2 {
    margin-bottom: 20px;
}