@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('/fontes/idroid.otf');
}
    
:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --font-padrao: Arial, Verdana, Helvetica, sans-serif;
    --font-destaque: "Bebas Neue", sans-serif;
    --font-android: 'Android';
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: var(--cor0);
    font-family: var(--font-padrao);
}

header {
    background: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header > h1 {
    font-weight: normal;
    color: white;
    font-family: var(--font-destaque);
    margin-bottom: 20px;
    font-size: 3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.377);
}

header > p {
    color: white;
    font-size: 1.2em;
    font-family: var(--font-padrao);
    max-width: 600px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.377);
}

nav {
    background-color: var(--cor5);
    padding: 10px;
    text-shadow: 0 7px 7px rgba(0, 0, 0, 0.397);
}

nav > a {
    padding: 10px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.2s;
}

nav > a:hover {
    background: var(--cor3);
    color: var(--cor5);
}

main {
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main h1 {
    color: var(--cor5);
    font-family: var(--font-android);
    font-weight: normal;
    font-weight: 18em;
}

main h2 {
    color: var(--cor4);
    font-family: var(--font-android);
    font-size: 1.5em;
    background-image: linear-gradient(to right , var(--cor1), transparent);
    text-indent: 5px;
    font-weight: normal;
}

main img {
    width: 100%;
}

main p {
    margin: 15px 0;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
    font-size: 1.1em;
}

main strong {
    color: var(--cor4);
    font-weight: bold;
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background: var(--cor1);
    padding: 2px 5px;
}

main a:hover {
    text-decoration: underline;
    color: var(--cor5);
    background: var(--cor2);
}

.pequeno {
    max-width: 350px;
    margin: auto;
    display: block;
}

aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.295);
}

aside ul {
    columns: 2;
    list-style-position: inside;
}

aside h3 {
    background: var(--cor4);
    color: white;
    margin: -10px -10px 0 -10px;
    border-radius: 10px 10px 0 0;
    padding: 10px;
}

footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer > p > a {
    font-weight: bolder;
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor1);
}

.video {
    background-color: var(--cor5);
    margin: 0px -20px;
    margin-bottom: 30px;
    padding: 10px;

    position: relative;
    padding-bottom: 200px;
}

iframe {
    position: absolute;
}